/* === features section === */
.section-features {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-features > .container {
  text-align: left;
}

.features-list {
  display: flex;
}

.features-item {
  width: calc((100% - (3 * 30px)) / 4);
}

.features-item:not(:last-child) {
  margin-right: 30px;
}

/* === features icon design === */
.features-icons {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 120px;
  background-color: var(--team-bg-color);
  border-radius: 4px;
  margin-bottom: 30px;
}

.features-title {
  margin-bottom: 10px;
  font-size: inherit;
  text-transform: uppercase;
}

.features-text {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.7;
}
